node_modules
.next
.git
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dockerignore
Dockerfile
README.md
GUIA_SISTEMA.md
POCKETBASE_SETUP.md
SQL_DATABASE_SETUP.md
SUPABASE_AUTH_SETUP.md
SUPABASE_SETUP.md
dev.db
